@import url("../dependencies/icons-1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.item {
  width: 200px;
  height: 200px;
  margin: 50px auto;
  padding-top: 75px;
  background: #ccc;
  text-align: center;
  color: #FFF;
  font-size: 3em;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
}

.page-wrapper::before {
  content: "";
  background-image: url(../img/cellokasten-celloband-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  background-color: #CECBCA;
}

.font-white {
  color: white;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-family: "Pacifico", cursive;
}

.bg-primary {
  background-color: #a84a10 !important;
}

/* navbar regular css start */
.navbar-area {
  z-index: 1;
  background: rgba(255, 255, 255, 0.6);
  border-bottom: 2px solid white;
}

.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.site-logo {
  font-size: 26px;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.site-navbar ul li a {
  color: black;
  padding: 20px;
  display: block;
  text-decoration: none;
}

.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}

/* navbar regular css end */
/* nav-toggler css start */
.nav-toggler {
  border: 2px solid white;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}

.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 25px;
  height: 2px;
  background-color: black;
  display: block;
  transition: 0.3s;
}

.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}

.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}

.nav-toggler.toggler-open span {
  background-color: transparent;
}

.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}

.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}

/* nav-toggler css start */
.header-area {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 768px;
  }
}
/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 768px !important;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #444;
    background-color: rgba(255, 255, 255, 0.85);
    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    padding: 25px;
  }
  .site-navbar ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .site-navbar ul.open {
    max-height: 100vh;
    overflow: visible;
  }
  /* navbar css for mobile end */
}
header {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
}
header .link-secondary:hover, header .link-secondary:focus, header .link-dark:hover, header .link-dark:focus {
  color: #a84a10 !important;
}

/* Buttons */
.btn-primary {
  background-color: #a84a10;
  border-color: #a84a10;
}

.btn-primary:hover {
  background-color: #99430d;
  border-color: #99430d;
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem;
}

.bg-light {
  background-color: #e5e1dc !important;
}

/*# sourceMappingURL=custom.css.map */
