@import url("../dependencies/icons-1.11.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.bg-primary {
  background-color: #a84a10 !important; }

/* Typography */
.font-white {
  color: white; }

/* Typography */
html, body {
  overflow: hidden; }

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1); }
  .background:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3; }

.background:nth-child(2) {
  z-index: 2; }

.background:nth-child(3) {
  z-index: 1; }

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  transform: translateY(40vh);
  will-change: transform;
  backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1); }

.background.up-scroll {
  transform: translate3d(0, -15vh, 0); }
  .background.up-scroll .content-wrapper {
    transform: translateY(15vh); }
  .background.up-scroll + .background {
    transform: translate3d(0, 30vh, 0); }
    .background.up-scroll + .background .content-wrapper {
      transform: translateY(30vh); }

.background.down-scroll {
  transform: translate3d(0, -130vh, 0); }
  .background.down-scroll .content-wrapper {
    transform: translateY(40vh); }
  .background.down-scroll + .background:not(.down-scroll) {
    transform: translate3d(0, -15vh, 0); }
    .background.down-scroll + .background:not(.down-scroll) .content-wrapper {
      transform: translateY(15vh); }

body {
  font-family: 'Montserrat Alternates', sans-serif; }

main {
  background-image: url(../img/cellokasten-celloband-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 100vh;
  overflow-y: scroll; }

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-family: 'Pacifico', cursive; }

header {
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8); }
  header .link-secondary:hover, header .link-secondary:focus, header .link-dark:hover, header .link-dark:focus {
    color: #a84a10 !important; }

.scroll-container {
  /*min-height: 100vh;*/ }

.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center; }

.hero-banner {
  min-height: 100vh;
  background: url("../img/cello-band-1.jpg") rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-blend-mode: multiply;
  -webkit-box-shadow: inset 1px 1px 31px -6px #000000;
  box-shadow: inset 1px 1px 31px -6px #000000;
  padding: 5em 8em; }

/* Buttons */
.btn-primary {
  background-color: #a84a10;
  border-color: #a84a10; }

.btn-primary:hover {
  background-color: #99430d;
  border-color: #99430d; }

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.75rem; }

.bg-light {
  background-color: #e5e1dc !important; }
