@charset "UTF-8";

.bg-primary{background-color: #a84a10!important;}



/* Typography */
@import url("../dependencies/icons-1.11.1/font/bootstrap-icons.css");
.font-white{color: white;}


/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');





// ------------- MIXINS ------------- //
@mixin transition($time, $property: all, $easing: ease-in) {
    transition: $property $time $easing;
}

// ------------- VARIABLES ------------- //
$parallax-offset: 30vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 3;

html, body {
  overflow: hidden;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  backface-visibility: hidden;
  height: 100vh + $parallax-offset;
  position: fixed;
  width: 100%;
  transform: translateY($parallax-offset);
  @include transition($transition-speed, all, cubic-bezier(0.22, 0.44, 0, 1));
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //background-color: rgba(0,0,0,.3);
  }
  
}

/* Set stacking context of slides */
@for $i from 1 to ($slide-number + 1) {
    .background:nth-child(#{$i}) {
        z-index: ($slide-number + 1) - $i; 
    }
}

.content {
  &-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  transform: translateY($content-offset);
  will-change: transform;
  backface-visibility: hidden;
  @include transition($transition-speed + .5, all, cubic-bezier(0.22, 0.44, 0, 1));
  }
}

// ------------- SET TRANSFORM VALUES ------------- //

.background.up-scroll {
  transform: translate3d(0,-$parallax-offset / 2,0);
  .content-wrapper {
    transform: translateY($parallax-offset / 2);
  }
  + .background {
    transform: translate3d(0,$parallax-offset,0);
      .content-wrapper {
        transform: translateY($parallax-offset);
      }
    }
}

.background.down-scroll {
  transform: translate3d(0,-(100vh + $parallax-offset),0);
  .content-wrapper {
    transform: translateY($content-offset);
  }
  + .background:not(.down-scroll) {
    transform: translate3d(0,-$parallax-offset / 2,0);
      .content-wrapper {
        transform: translateY($parallax-offset / 2);
      }
  }
}



body{
    font-family: 'Montserrat Alternates', sans-serif;
}

main{
        background-image: url(../img/cellokasten-celloband-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100vh;
    overflow-y: scroll;

}


h1, h2, h3, h4, h5, h6{
	& strong{
		font-family: 'Pacifico', cursive;
	}
}

header{
  font-weight: bold;
  background: rgba(255, 255, 255, 0.8);
	
    & .link-secondary:hover, 
    & .link-secondary:focus,  
    & .link-dark:hover, 
    & .link-dark:focus{
  	color: #a84a10 !important;
    }
}

.scroll-container{
  /*min-height: 100vh;*/
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.hero-banner{
  min-height: 100vh;
  background: url("../img/cello-band-1.jpg") rgba(#000, 0.7);
  background-size: cover;
  background-blend-mode: multiply;

  -webkit-box-shadow: inset 1px 1px 31px -6px #000000;
  box-shadow: inset 1px 1px 31px -6px #000000;

  padding: 5em 8em;
}



/* Buttons */
.btn-primary{
  background-color: #a84a10;
  border-color: #a84a10;
}

.btn-primary:hover{
  background-color: #99430d;
  border-color: #99430d;
}



.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border-radius: 0.75rem;
}


.bg-light{
  background-color: #e5e1dc!important;
}
